<h1>Eat Da Burger!</h1>
 <h1> <img src="../../assets/img/vegburg.png"> </h1>
<<<<<<< HEAD

=======
>>>>>>> e08698c9e11a59776337f631cb98b2f7f2cd3843
<div id="uneaten">
  <h2>Burgers!</h2>

  <ul>
    {{#each burger}}
      {{#unless this.devoured}}
        <li>
          {{this.burger_name}}

          <form action="/{{this.id}}?_method=PUT" method = "POST">
            <input type="hidden" name="devoured" value="1">
            <button type="submit">EAT IT!</button>
          </form>

        
        </li>
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div id ="eaten">
  <h2>Devoured Burgers!</h2>
  <ul>
    {{#each burger}}
      {{#if this.devoured}}
        <li>
          {{this.burger_name}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

<div id="add">
  <h2>Add a Burger</h2>
  <form class="create-update-form" action="/" method="POST">

    <div class="form-group">
      <label for="ca">Burger:</label>
      <input type="text" id="ca" name="name">
    </div>


    <button type="submit">Add Burger</button>
  </form>
</div>
